//COLORS

$white: #ffffff;
$black: #000000;
$blue: #1877f2;
$neutral-8: #23272f;
$neutral-7: #667085;
$neutral-4: #98a2b3;
$neutral-3: #d0d5dd;
$neutral-2: #eaecf0;
$neutral-1: #f2f4f7;
$neutral-5: #f9fafb;
$primary-extra-dark: #e8fffb;
$primary-dark: #07828b;
$primary: #14c9c9;
$primary-light: #b7f4ec;
$primary-extra-light: #e8fffb;
$error: #f53f3f;
$error-light: #ffece8;
$warning: #f7ba1e;
$eror-light: #feffe8;
$success: #00b42a;
$success-light: #e8ffea;
$info: #3491fa;
$info-light: #e8f7ff;

// BREAKPOINTS
// follow to antd design

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;
